NEXT_PUBLIC_SUPABASE_URL=https://cxhblglavoorhslltmdw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4aGJsZ2xhdm9vcmhzbGx0bWR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzODM4MjcsImV4cCI6MjA5NDk1OTgyN30.ONOhJolfzRkZEBrPCuSY-amZY7Tic0hsIvX3QUMFVlU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4aGJsZ2xhdm9vcmhzbGx0bWR3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTM4MzgyNywiZXhwIjoyMDk0OTU5ODI3fQ.sgzl88IMy-0tOBtSeIfa3Af-VhQH_CwAnPA7vMjwvGs
#ANTHROPIC_API_KEY=
